* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

/*LABELS*/

label {
    display: block;
    margin: 1rem 0 .5rem 0;
}

/*LABELS*/

input {
    width: 100%;
}

/*FORM*/

form {
    max-width: 1000px;
}

fieldset {
    margin: 1.5rem;
    padding: .5rem;
}

ul {
    list-style: none;
}

@media (min-width: 700px) {
    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    
    input {
        margin-bottom: .5rem;
    }

    fieldset {
        margin-top: 4rem;
    }
}

@media (min-width: 1200px) {
    ul {
        grid-template-columns: repeat(3, 1fr);
    }

    form {
        margin: 0 auto;
    }
}