@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*las variables también se pueden crear en :root que es una pseudoclase
y por los tanto tiene > especificidad que la etiqueta html*/
html{
    --colorheader: rgb(95, 91, 91);
    --colorpage: rgb(240, 230, 230);
    --colorfooter: #091330;
    --colorbutton: rgb(255, 178, 36);
    --colorbuttonhover: rgb(255, 204, 108);
}

body{
 font-family: 'Montserrat', sans-serif;
}

/**********/
/* Header */
/**********/
nav > ul > li{
    display: inline-block;
}

/*Existe el padding-inline que puede separar igual que el margin-right de este caso*/
nav > ul > li > a{
    text-decoration: none;
    margin-right: 20px;
    color: white;
}

nav{
    text-align: center;
    padding: 2rem 0;
    background-color: var(--colorheader);
}

/* Page */

h1{
    text-align: center;
    margin: 2rem 2rem;
    word-spacing: 1rem;
}

/*Truco para centrar las imágenes!! Le damos un display block ya que por defecto
son inline! De esta forma podemos aplicar la propiedad margin 0 auto (u otro)
y centrar el elemento imagen!!*/
img{
    display: block;
    margin: 0 auto 2rem auto;
    border: 2px solid black;
    box-shadow: 2px 2px 5px #8f8e8e;
    width: 300px;
    border-radius: 10px;
}

img:hover{
    transform: scale(1.05);
}

div p{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 500;
}

div > p:nth-child(3){
    margin-bottom: 3rem;
}

/* Buttons */
.btn{
    text-decoration: none;
    background-color: var(--colorbutton);
    padding: 0.6rem 4rem;
    border-radius: 5px;
    border: 1px solid grey;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.btn:hover{
    background-color: var(--colorbuttonhover);
    color: #252525;
}

/* Footer */
footer{
    height: 20vh;
    background-color: var(--colorfooter);
    text-align: center;
    margin-top: 4rem;
}

footer > p:first-child{
    padding: 2rem 0;
    text-align: center;
    color: white;
    font-weight: 500;
}

