* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(98, 27, 164);
}

main {
    height: 100vh;
    padding: 3rem;
    display: grid;
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    gap: 1rem; 
/*     justify-items: center;
    align-items: center; */
    place-items: center center;
}

main > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 208, 0);
    border: 3px solid rgb(130, 106, 0);
    padding: 1rem;
    font-size: 5rem;
    font-weight: bold;
}

/* main > div:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

main > div:last-child {
    grid-column: 1 / span 2;
} */
