*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 140px;
    border: 1px solid red;
}

blockquote{
    font-size: 1.2rem;
    border: 1px solid red;
}

/*las imágenes vna a intentar flotar a la derecha o a la izquierda si tienen espacio*/
.right{
    float: right;
}

/*En este caso son las blockquote. Flotan a la izquierda en este caso o a la derecha
y el párrafo continúa su flujo*/
.left{
    float: left;
}

p{
    padding: 15px 0;
}