body{
    height: 2200px;
}
main{
    background-color: grey;
}

/*Si no se aplica otra propiedad por defecto son estáticos.
Los divs son de bloque y se posicionan unos encima de otros.
Si usamos inline aparecen en línea pero no uno al lado del otro, con
inline-block si. Esto pasa porque css con los elementos div, main, header, footer
no permite hacerlos inline(CUIDADO). Los contenedores no semánticos no se puede
aplicar inline solo inline-block*/
div{
    border: 1px dotted black;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 2rem;
    background-color: beige;
    /* display: inline-block; */
}

/*Con relative se puede separar del flujo natural de la página. Con las propiedades
TOP, BOTTOM ,LEFT y RIGHT. A diferencia de la propiedad margin esto no desplaza a
los demás sinó que se superpone*/
.relative{
    position: relative;
    top: -40px;
    left: 40px;
}

/*Hay que darle un valor a top, right, bottom o left. Con la posición absoluta
el elemento se posiciona en relación a la etiqueta raiz html salvo que tenga un padre 
o abuelo con position:relative (o diferente de static) entonces toma la raiz de
posicionamiento a partir de ese padre o abuelo*/
.absolute{
    position: absolute;
    top: 100px;
    left: 400px;
}

/*Se queda fijo en el scroll pero se sale de su padre main*/
.fixed{
    position: fixed;
    left: 600px;
}

/*Mezcla entre fixed y absolute. Hay que ponerle el top siempre. 
En momento en que choca con el top de su contenedor padre lo arrastra
y se para en el borde del padre. Funciona tanto con top como bottom y left y right*/
.sticky{
    position: sticky;
    left: 300px;
    top: 0;
}
