*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*****Header*****/
body > header{
    padding: 1rem 2rem;
    background-color: beige;
    text-align: center;
}

body > header > h1{
    color: blueviolet;
}

/*margen 0 auto (o valorX auto) para centrar el elemento que hemos dado un ancho fijo de 500px.
Se peude dar un max-widht de 500px y cuando la pantalla crece crece el nav
hasta los 500px de máximo*/
body > header > nav{
    background-color: brown;
    max-width: 500px;
    margin: 1rem auto;
}

body > header > nav > ul{
    list-style: none;
}

/*Al usar disply inline y los li ser block por defecto, se convierten en elementos en linea
posicionándose uno al lado del otro sin problema alguna.
Con inline-block el último elemento no se corta y pasa completo a
la línea siguiente, con inline puede cortar el elemento*/
body > header > nav > ul >li{
    display: inline-block;
}

body > header > nav > ul >li > a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

/*****Main*****/
main{
    padding: 1rem;
}

/*Con overflow auto aparece un scroll y en este caso el p dentro del div
no se sale por fuera del propio div*/
main > div:first-child{
    height: 150px;
    background-color: whitesmoke;
    overflow: auto;
    padding: 0.5rem;
    border: 2px solid grey;
    border-radius: 5px;
}

/*Etiqueta inline podemos modificar borde, padding y el margen horizontal.
Uno inline-block se le puede dar todo tipo de propiedades como un block*/
main > div:first-child > p > strong{
    border: 2px solid black;
    margin: 0 10px;
    padding: 0.5rem;
}

/*propiedades para imágenes dentro de un div. Se puede hacer repetir o no,
centrarla*/
main > div:last-child{
    width: 500px;
    height: 500px;
    margin: 1rem auto 0 auto;
    border: 2px solid grey;
    border-radius: 5px;
    background-image: url(../pics/tree-gee784147c_1280.jpg);
    background-size: cover; /*cubre el div*/
    background-repeat: no-repeat; /*no repite la imagen*/
    background-position: center; /*posiciona la imagen por si es muy grande*/
}