/*Con flex posicionamos elementos en base a un eje de coordenadas.
Con flex-wrap los elementos que no caben en la misma línea no los
encoge como por defecto sinó que lo pasa a una nueva línea.
Los elementos siempre se posicionan en el eje horizontal pero
se puede cambiar esto con flex-direction:column.
Justify-content con flex en eje horizontal permite moverlos en eje horizontal
y vertical respectivamente*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

main{
    height: 900px;
    background-color: rebeccapurple;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    background-color: bisque;
}