/*WEB RESPONSIVE. Empezar a diseñar por los moviles. El más pequeño de 360x740 samsung s8+ en el inspect chrome*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 20px;
}

img{
    width: 100%;
}


/*Header*/
body > header{
    padding: 1rem;
    text-align: center;
    background-color: beige;
}

body > header > nav{
    margin-top: 1rem;
}

body > header > nav > ul{
    list-style: none;
}

body > header > nav > ul > li{
    display: inline-block;
    margin: 0 0.5rem;
}

/* Main */
main{
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(226, 226, 226);
}

main > section{
    background-color: white;
    padding: 0.5rem;
}

main > section:first-child{
    margin-bottom: 0.5rem;
}

section > img{
    margin: 1rem 0;
}

section:first-child > p{
    margin-bottom: 1rem;
}

main > section:last-child > h2{
    margin-bottom: 1rem;
}

/* Footer */
body > footer{
    background-color: beige;
    text-align: center;
    padding: 1rem 0;
}

/* Media query */

/*Con un ancho mínimo de pantalla de 700px se aplicará el query*/
/*Trabajar con el inspector de chrome*/
/*Las medidas vmin y vmax. VMIN siempre representa el eje más corto (depende de si está volteada o no.
Muy buena medida responsive mejor que el vh y el vw. VMIN representa el eje más corto
siempre. Si el alto es la medida mínima VMIN = VH, si es el ancho pues VMIN = VW*/

@media (min-width: 700px){
    :root{
        font-size: 16px;
    }

    img{
        width: 70vw;
    }

    main > section{
        max-width: 700px;
        margin: 0 auto;
    }
}

@media (min-width: 1000px){
    main{
        display: flex;
    }
}