
/*con posicionamiento absoluto se coloca respecto al padre con posicion diferente
a static. Al añadir cualquier propiedad top, bottom, etc. es cuando vemos en acción
la propiedad del absolute*/

div{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    position: absolute;
}

div:nth-child(2){
    left: 3rem;
    background-color: cadetblue;
}

div:nth-child(3){
    left: 6rem;
    background-color: chartreuse;
    z-index: -1;
}

div:nth-child(4){
    left: 9rem;
    background-color: burlywood;
    z-index: 2;
}

div:nth-child(5){
    left: 12rem;
    background-color: red;
    z-index: 1;
}

div:nth-child(6){
    left: 15rem;
    background-color: darkorchid;
}

div:nth-child(7){
    left: 18rem;
    background-color: darkgoldenrod;
}

div:nth-child(8){
    left: 21rem;
    background-color: yellow;
}