*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*########## HEADER ##########*/

header > nav{
    background-color: grey;
    text-align: center;
    padding: 1rem 0;
}

header > nav > ul >li{
    display: inline-block;
    list-style: none;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 1rem;
}

header > h1{
    text-align: center;
    margin: 1rem;
}


/*########## MAIN ##########*/

main{
    flex-grow: 1;
}

main > img{
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

main > div{
    text-align: center;
}

main > div > p{
    margin: 1rem 0;
    font-weight: bold;
}

.btn{
    text-decoration: none;
    background-color: rgb(242, 169, 59);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem 2rem;
    border-radius: 5px;
}

/*########## FOOTER ##########*/

footer{
    background-color: rgb(12, 28, 54);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer > p:first-child{
    text-align: center;
    color: white;
}

footer > p{
    text-align: center;
    margin-bottom: 1rem;
}

/*########## MEDIA QUERIES ##########*/

@media (min-width: 700px) {
    :root{
      font-size: 25px;  
    }

    main > img{
        width: 300px;
    }

    main > div > p{
        margin: 2rem;
    }
}

@media (min-width: 1000px) {
    main{
        display: flex;
        margin-bottom: 2rem;
    }

    main > img{
        width: 400px;
    }
}