/*Todos los imports deben estar arriba del todo antes de cualquier selector*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*El valor rem dependerá del valor de la propiedad font-size en la etiqueta html. Por lo general, 1rem=16px si
no se especifica otra medida en la etiqueta html*/
html {
    font-size: 16px;
}

/*Tipografía*/
body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    word-spacing: 8px;
    text-shadow: 2px 2px 5px #252525;
}

/*Cambiamos el grosor de todos los párrafos*/
p {
    font-weight: 300;
    font-size: 1.2rem;
    text-align: justify;
}

/* Selector simple por etiqueta. */
h1 {
    color: goldenrod;
    background-color: blue;
    text-align: center;
}

/* Selector simple por id. */
header#cabecera {
    padding: 1rem;
    background-color: antiquewhite;
}

/* Selector simple por clase. */
ul.lista {
    background-color: aquamarine;
}

/* Selector por atributo con un valor específico. */
[type="checkbox"] {
    height: 30px;
    width: 30px;
}

/* Selector por atributo sin valor específico. */
[data-mi-atributo-personalizado] {
    font-size: 50px;
}

/* Selector por pseudo-clase. */
a:visited {
    color: gray;
}

li:hover {
    font-size: 30px;
}

li:first-child {
    color: red;
}

section#segundo > ul.lista > li:nth-child(2) {
    font-size: 20px;
    color: rgb(159, 159, 0)
}

section#tercero > ul.lista > li:nth-child(even) {
    color: brown
}

/* Selector por pseudo-elemento. */
p#importante::first-letter {
    color: white;
    background-color: black;
    font-size: 30px;
}

section#primero > p:last-of-type::first-line {
    color: red;
}

p::selection, span::selection {
    background-color: blue;
    color: white;
}