@import url(./lobster-font.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

/**
 * ############
 * ## Header ##
 * ############
*/

body > header > a > h1 {
    font-family: "Lobster", cursive;
    font-size: 2.6rem;
    color: #c3bab9;
    text-shadow: 1px 1px 0 #615655;
}

header > a {
    display: flex;
    margin: 1rem;
}

header > a > img {
    height: 60px;
    transform: scaleX(-1);
    margin-right: 10px;
}

/**
 * ##########
 * ## Main ##
 * ##########
*/

main > section {
    background-color: rgb(58, 58, 58);
    color: white;
    padding: 1.5rem;
}

main > section > h2 {
    margin-bottom: 1.8rem;
    font-size: 2rem;
}

main > section > p {
    margin-bottom: 1.8rem;
}

.info-btn {
    color: white;
    background-color: orange;
    padding: .6rem;
    border-radius: 15px;
    font-weight: bold;
    display: block;
    width: 70px;
    text-align: center;
}

figure > img {
    width: 100%;
    display: block;
}


/**
 * ######################
 * ## Min. width 700px ##
 * ######################
*/

@media (min-width: 700px) {
    main {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        height: 100vh;
    }

    main > section:first-of-type {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    main > figure:first-of-type {
        grid-column: 3 / span 3;
        grid-row: 1 / span 2;
    }

    main > figure:nth-child(7) {
        grid-column: 3 / span 2;
    }

    main > section:last-of-type {
        grid-column: 5 / span 2;
    }

    main > figure:nth-child(9) {
        grid-column: 1 / span 3;
    }

    main > figure:nth-child(10) {
        grid-column: 4 / span 3;
    }

    header {
        padding: 1rem 0 .5rem 1rem;
    }

    figure {
        width: 100%;
        height: 100%;
    }

    figure > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    main > section {
        padding: 2rem;
    }

    main > section > h2 {
        font-size: 2.5rem;
    }

    main > section > p {
        font-size: 1.5rem;
    }
}

/**
 * #######################
 * ## Min. width 1200px ##
 * #######################
*/

@media (min-width: 1200px){
main > section:first-of-type {
    grid-column: 1 / span 6;
    grid-row: 1 / 2;
}

main > figure:first-of-type {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

main > figure:nth-child(7) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}

main > section:last-of-type {
    grid-column: 1 / span 6;
    grid-row: 3 / 4;
}

main > section > h2 {
    font-size: 2.2rem;
}

main > section > p {
    font-size: 1.2rem;
}
}