div {
    height: 100px;
    width: 100px;
    background-color: bisque;
    border: 1px solid black;
    animation-name: mi-animacion-2;
    animation-duration: 0.5s;
}

@keyframes mi-animacion-1 {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes mi-animacion-2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
