body {
    height: 3000px;
}

div {
    height: 100px;
    width: 100px;
    background-color: bisque;
    border: 1px solid black;

    /** 
     * Translate: cambio de posición.
     *  
     *  - El primer valor permite desplazar el elemento 
     *    a la derecha (valor positivo) o a la izquierda
     *    (valor negativo).
     *   
     *  - El segundo valor permite desplazar el elemento 
     *    hacia abajo (valor positivo) o hacia arriba
     *    (valor negativo).   
    */
    transform: translate(-2rem, 2rem);

    /** 
     * Scale: cambio de escala. 
    */
    transform: scale(2);

    /** 
     * Rotate: rotación (en grados "deg"). 
     *
     * ¡OJO! No podemos asignar a un mismo elemento varias veces
     * la propiedad "transform". Solo debe existir una vez.
    */
    transform: rotate(60deg);

    /** Si queremos aplicar los tres valores anteriores deberíamos
     *  hacer lo siguiente.
    */
    transform: translate(2rem, -2rem) scale(-0.6) rotate(30deg);
}
