div {
    height: 100px;
    width: 100px;
    background-color: bisque;
    border: 1px solid black;

    transition-property: background-color;

    transition-duration: 2s;

    transition-delay: 1s;

    transition-timing-function: ease;

    /* Combinación de lo anterior */
    transition: background-color 1s ease-out 500ms;
}

div:hover {
    background-color: green;
}
