@import url(./lobster-font.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

/**
 * ############
 * ## Header ##
 * ############
*/

body > header > a > h1 {
    font-family: "Lobster", cursive;
    font-size: 2.6rem;
    color: #c3bab9;
    text-shadow: 1px 1px 0 #615655;
}

/**
 * ##########
 * ## Main ##
 * ##########
*/

/**
 * ######################
 * ## Min. width 700px ##
 * ######################
*/

/**
 * #######################
 * ## Min. width 1200px ##
 * #######################
*/
